:root {
    --c-primary-1: hsl(233, 47%, 7%);
    --c-primary-2: hsl(244, 38%, 16%);
    --c-primary-3: hsl(277, 64%, 61%);

    --c-overlay: hsla(277, 64%, 30%, 70%);

    --c-neutral-1: hsl(0, 0%, 100%);
    --c-neutral-2: hsla(0, 0%, 100%, 0.75);
    --c-neutral-3: hsla(0, 29%, 61%, 0.6);
}


html {
    font-size: 93.75%;
}

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}


body {
    line-height: 1.6;
    font-family: 'Inter', sans-serif;
    background: var(--c-primary-1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 2em 0;
}



.stats-preview__img {
    position: relative;
    display: block;
}

.stats-preview__img img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
}



.stats-preview__img--desktop {
    display: none;
}



.body__stats-preview {
    width: 87.46%;
    margin: 0 auto;
}

.stats-preview {
    background: var(--c-primary-2);
    max-width: 1110px;
    border-radius: 2%;
    overflow-y: hidden;
    text-align: center;
}





.stats-preview__img::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--c-overlay);
    display: block;
}



.stats-preview__content {
    padding: 2em;
}

.stats-preview__title {
    font-size: 1.9rem;
    line-height: 1.1;
    color: var(--c-neutral-1);
    font-weight: 700;
    margin-bottom: 0.6em;
}

.stats-preview__title-highlight
{
    color: var(--c-primary-3);
}


.stats-preview__description {
    color: var(--c-neutral-2);
    margin-bottom: 2.4em;
}


.stats-preview__stat {
    margin-bottom: 1em;
}

.stats-preview__stat:last-child {
    margin-bottom: 0;
}

.stats-preview__stat-value {
    color: var(--c-neutral-1);
    font-size: 1.6rem;
    font-weight: 700;
}

.stats-preview__stat-label {
    color: var(--c-neutral-2);
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.2em;
}


@media(min-width: 800px)
{
    body {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .stats-preview {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        text-align: left;
    }

  

    .stats-preview__img--mobile {
        display: none;
    }

    .stats-preview__img--desktop {
        display: block;
        height: 100%;
    }


    .stats-preview__content {
        padding: 4em;
        display: flex;
        flex-direction: column;
    }



    .stats-preview__title {
        font-size: 2.5rem;
        max-width: 400px;
    }

    .stats-preview__description {
        max-width: 350px;
    }


    .stats-preview__stats {
        margin-top: auto;
        display: grid;
        grid-template-columns: minmax(auto, 150px) minmax(auto, 150px) minmax(auto, 150px);
    }

   

}